# DB (Neon PostgreSQL)
DB_NAME=<db_name>
DB_USER=<db_user>
DB_PASSWORD=<db_password>
DB_HOST=<db_host>
DB_PORT=5432

# Django
DJANGO_SECRET_KEY=<generate_with_get_random_secret_key>
DJANGO_DEBUG=FALSE
DJANGO_ALLOWED_HOSTS=<your_domain_or_ip>
DJANGO_SETTINGS_MODULE=hospital_service.settings.production
DJANGO_CSRF_TRUSTED_ORIGINS=<https://your_domain>