{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Doctors{% endblock %}
{% block content %}
<h2 class="mb-4">Our Doctors</h2>
  <form method="get" class="mb-4">
    <div class="col-md-8">
      {{ search_form.specialization|as_crispy_field }}
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary w-100">Search</button>
    </div>
  </form>
<div class="row g-4">
  {% for doctor in doctor_list %}
  <div class="col-md-4">
    <div class="card p-3 h-100">
      <h5 class="card-title"> {{ doctor }}</h5>
      <p class="text-muted mb-1">
        {% for spec in doctor.specialization.all %}
          <span class="badge bg-info text-dark">{{ spec }}</span>
        {% endfor %}
      </p>
      <p class="mb-1"><i class="fa-solid fa-building me-2"></i>{{ doctor.department }}</p>
      <p class="mb-3"><i class="fa-solid fa-briefcase me-2"></i>{{ doctor.experience_years }} years of experience</p>
      <a href="{% url 'hospital:doctor-detail' pk=doctor.pk %}" class="btn btn-outline-primary mt-auto">View Profile</a>
    </div>
  </div>
  {% empty %}
  <p class="text-muted">No doctors found.</p>
  {% endfor %}
</div>
{% include "includes/pagination.html" %}
{% endblock %}